body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

h1 {
<<<<<<< HEAD
  font-size: 12rem;
=======
  font-size: 18rem;
>>>>>>> the_new_conflict
  font-family: Montserrat;
}

.letter {
  transition: color 1000ms;
}